# Python virtual environment
venv/
env
.env
/venv
.vscode

database/

# Image
*.png
*.jpg
*.jpeg
*.tiff
*.bmp
*.gif

# log files
*.log
logs/

# Temporary files
*.tmp
*.temp

# Python cache files
__pycache__
*.pyc