# .gitignore for ImageProcessing

# Files and directories to ignore in the ImageProcessing
/dataset
/Training
/logs
/Results
/Samples
/Models
/Testing

# Python virtual environment
venv/
.env
/venv
.vscode

# log files
*.log

# Temporary files
*.tmp
*.temp

# Python cache files
__pycache__
*.pyc